.container-contact--text h2 {
    color: #FFF;
    font-size: 1.5em;
    margin-right: 60%;
    text-align: end;
    width: 60%;
}


.container-contact--text h3 {
    color: #FFF;
    font-weight: 100;
    font-size: 1.3em;
    margin-right: 40%;
    margin-left: 8.3%;
}

.container-contact--text span {
    color: #EB9DDA;
}