#projects-button {
    background-color: #EB9DDA;   
    border: none; 
    border-radius:5px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    margin-top: 2%;
    padding: 1.2em;
}

#projects-button {
    cursor: pointer;
}